html, body, #root {
    height: 100%;
    width: 100%;
}

#root {
    position: relative;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: auto;
    width: auto;

    max-width: 100%; 
    max-height: 100%; 
}